<form>
    <mat-form-field>
        <input type="text" placeholder="Select Dealers" 
        [formControl]="control" 
        [matAutocomplete]="auto"
        matInput />
    </mat-form-field>
    <mat-autocomplete 
    (optionSelected)="optionSelected($event)" #auto>
        <mat-option *ngFor="let dealer of dealers" [value]="dealer">
            <img [src]="dealer.picture"> {{dealer.name}}
        </mat-option>
    </mat-autocomplete>
</form>
<table mat-table *ngIf="selectedDealers.length > 0" [dataSource]="selectedDealers"
    cdkDropList
    [cdkDropListData]="selectedDealers"
    (cdkDropListDropped)="dropped($event)"
    >
    <ng-container matColumnDef="picture">
        <td mat-cell *matCellDef="let element">
            <img style="width: 50px;" [src]="element.picture"/>
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element">{{element.name}}<td>
    </ng-container>
    <ng-container matColumnDef="character">
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline" style="margin-top: 10px;">
                <mat-label>Character</mat-label>
                <input matInput [(ngModel)]="element.character"/>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <td mat-cell *matCellDef="let element">
            <mat-icon mat-list-icon (click)="remove(element)">close</mat-icon>
        </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"
        cdkDrag [cdkDragData]="row"
    ></tr>


</table>