.device-container{
    margin-right: 2%;
    margin-bottom: 10%;
    text-align: center;
}

.devices-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

p{
    max-width: 255px;
    height: 44px;
    font-size: 15px;
    font-weight: bold;
}

image{
    width: 255px;
    height: 300px;
}
button{
    margin-left: 1em;
}