<mat-toolbar color="primary">
    <span>
        <a mat-button routerLink="">
            <mat-icon>brightness_auto</mat-icon> iCore
        </a>
    </span>
    <div>
        <a mat-button routerLink="genres">Genres</a>
    </div>

    <div>
        <a mat-button routerLink="dealers">Dealers</a>
    </div>

    <div>
        <a mat-button routerLink="devicecenter">Device Center</a>
    </div>

    <div>
        <a mat-button routerLink="devices/create">Create Devices</a>
    </div>
</mat-toolbar>